.howto-all{
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: 60px;
}
.img-denkyu{
  height: 100px;
}
.howto-title{
  font-weight: lighter;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(85, 85, 85);
}
.howto-content{
  width: 80%;
  margin: 30px auto;
  /* margin-bottom: 40px; */
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.howto-text{
  margin-top: 40px;
}
.img-chose{
  height: 200px;
}
.img-answer{
  height: 200px;
}
.img-result{
  height: 200px;
}
.btn-return{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
/* footerの編集 */
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color:rgb(48, 48, 48);
  font-size: 12px;
  padding: 10px 0;
}
/* besttyタイトルの編集 */
.bestty-title{
  display: flex;
  justify-content: center;
}
.bestty-b{
  color: red;
}
.bestty-e{
  color: coral;
}
.bestty-s{
  color: gold;
}
.bestty-t{
  color: rgb(106, 255, 106);
}
.bestty-t2{
  color: aqua;
}
.bestty-y{
  color: rgb(0, 110, 255);
}
/* besttyタイトル終了 */
.copyright{
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.a-footer{
  color: #333;
}
.img-present{
  height: 100px;
  margin-bottom: 10px;
}
.fab{
  margin: 25px;
}
.fa-instagram{
  color: hotpink;
}
.fa-twitter{
  color: deepskyblue;
}
.fa-facebook-f{
  color: dodgerblue;
}