/* メニュー以下のコンテンツの下に潜り込まないように重ね順を上にする */
.menu2 {
    z-index: 1000;
  }
  
  /* ボタン */
  .menuBtn {
    position: fixed;
    right: 0;
    box-sizing: border-box;
    z-index: 1;
    width: 50px;
    height: 55px;
    text-align: center;
    display: block;
    border: 2px solid #000;
    font-size: 12px;
    padding-top: 35px;
    background-color: #000000;
    z-index: 7;
  }
  
  .menuBtn::after,
  .menuBtn::before {
    content: '';
    display: block;
    /* height: 2px; */
    width: 30px;
    border-bottom: solid 2px #ffffff;
    position: absolute;
    top: 10px;
    left: 8px;
    box-sizing: border-box;
    /* border-width: 0; */
    /* border-color: transparent; */
    transition:transform.3s;
  }
  
  .menuBtn::after {
    border-bottom: none;
    border-top: solid 2px #ffffff;
    box-shadow: 0 -10px 0 #ffffff;
    top: 30px;
  }
  
  /* クリックした時の挙動 */
  .on .menuBtn::before {
    width: 17px;
    height: 17px;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    top: 3px;
    left: 14px;
  }
  
  .on .menuBtn::after {
    top: 24px;
    left: 14px;
    width: 17px;
    height: 17px;
    border-right: 2px solid #ffffff;
    box-shadow: none;
    transform: rotate(-45deg);
  }
  
  .menuWrapper{
    width: 50px;
    height: 55px;
    top: 15px;
    right: 15px;
    position: absolute;
    overflow: hidden;
    /* 背景のみアニメーション */
    transition: background-color .3s;
  }
  
  .menuWrapper:hover{
    cursor: pointer;
  }
  
  /* メニュー開時、背景クリックで閉じられるエリアを作成 */
  .on.menuWrapper {
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  
  /* 位置がずれるので調整 */
  .on.menuWrapper .menuBtn{
    right: 15px;
  }
  
  /* overflow:hidden　width:0　で隠しておく */
  #menu { 
    padding: 0;
    margin: 0;
    width: 0;
    overflow: hidden;
    list-style: none;
    position: fixed;
    right: 0;
    height: 100%;
    background: #000;
    color: #fff;
    /* width 幅のみアニメーション */
    transition: width .5s;
    padding-top: 90px;
    box-sizing: border-box;
  }
  
  #menu li{
    width: 200px;
    border-bottom: 1px solid #fff;
  }
  
  #menu li a{
    padding: 15px;
    display: block;
    opacity: 0;
    text-decoration: none;
    color: #fff;
    transition: .3s;
  }
  
  #menu li a:hover{
    background: #333;
  }
  
  #menu li:first-child{
    border-top: 1px solid #fff;
  }
  
  /* 開いた時にスライドインできるようにメニューwidthを本来の幅へ
  width: 0　=> width: 200pxのアニメーション
  */
  
  .on.menuWrapper + #menu{
    width: 200px;
  }
  
  /* メニューアイテムのアニメーション */
  .on.menuWrapper + #menu li:nth-child(1) a{
    animation: slideIn .3s .5s forwards;
  }
  
  .on.menuWrapper + #menu li:nth-child(2) a{
    animation: slideIn .3s .7s forwards;
  }
  
  .on.menuWrapper + #menu li:nth-child(3) a{
    animation: slideIn .3s .9s forwards;
  }
  
  @keyframes slideIn{
    0% {
      padding-left: 25px;
      opacity: 0;
    }
    50% {
    }
    100% {
      padding-left: 15px;
      opacity: 1;
    }
  }
  
 /* 画面の枠 */
  body{
      border-top:0px solid #000000;
      border-right:8px solid #000000;
      border-left:8px solid #000000;
      border-bottom:8px solid #000000;
      font-family: 'Noto Sans JP', sans-serif;
  
 /* ヘッダーのデザイン */
  }
  .site-header{
      background: #000000;
      padding: 0px;
      position: fixed;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      z-index: 7;
  }
  
  /* ヘッダーについてる文字のデザイン */
  .header-character{
      color:white;
      text-align:center;
      font-size: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* 問題の配置、デザインの設定 */
  .body-all{
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 100px;
  }
  /* ボタンの位置調節 */
  .btn-wrapper {
      text-align: center;
      display: block;
      position: relative;
      margin: 30px auto;
      height: auto;
      width: 500px;
      padding: 20px;
    }

  .q-1{
    padding-top: 50px;
  }

  /* アイテムのジャンル名 */
    .result-flex-item-name{
      list-style: none;
      display: inline;
      margin: 50px 145px;
      font-size: 40px;
    }
  /* アイテムのイメージ画像 */
    .result-flex-img{
      list-style: none;
      display: inline;
      margin: 0px 50px;
    }
  /* タイプのイメージ画像 */
    #result-top{
      text-align: center;
      padding-top: 120px;
    }
    .result-item-brand{
      display: inline;
    }

    .result-img{
      max-width: 100%;
      height: auto; 
    }
    .result-text{
      padding-top: 30px;
    }

    .result-ex{
      text-align: center;
      padding-bottom: 50px;
    }
  .top-btn{
    text-align: center;
    padding-top: 70px;
  }
  .btn-flat-simple:hover {
    background: #00bcd4;
    color: white;
  }
  
/* footerの編集 */
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color:rgb(48, 48, 48);
  font-size: 12px;
  padding: 10px 0;
}
/* besttyタイトルの編集 */
.bestty-title{
  display: flex;
  justify-content: center;
}
.bestty-b{
  color: red;
}
.bestty-e{
  color: coral;
}
.bestty-s{
  color: gold;
}
.bestty-t{
  color: rgb(106, 255, 106);
}
.bestty-t2{
  color: aqua;
}
.bestty-y{
  color: rgb(0, 110, 255);
}
/* besttyタイトル終了 */
.copyright{
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.a-footer{
  color: #333;
}
.img-present{
  height: 100px;
  margin-bottom: 10px;
}
.fab{
  margin: 25px;
}
.fa-line{
  color: limegreen;
}
.fa-twitter{
  color: deepskyblue;
}
.fa-facebook-f{
  color: dodgerblue;
}

